@import "../../styles/app";

.dashboard-page {
  .requests-table {
    td,
    th {
      font-weight: $font-weight-normal;
    }

    tbody tr {
      td {
        min-width: 100px;
      }
    }
  }

  .visitElement {
    max-width: 50%;
    width: 33%;
    min-width: 65px;
  }
}

#avatar {
  float: left;
  width: 100%;
  height: 100%;
}
#avatar img {
  width: 50%;
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

//variables
$basic-dark-color: #212121;
$basic-light-color: #fff;
$fb-color: #3b5998;
$tw-color: #00aced;
$g-plus: #dd4b39;
$github: #050505;
$pinterest: #cb2027;
$insta: #ea708f;
$in: #007bb6;
$vimeo: #1ab7ea;
$border-radius: 10px;
$font-size: 35px;

.effect {
  width: 100%;
  background-color: $basic-dark-color;
  &:nth-child(2n + 1) {
    background-color: $basic-light-color;
    h2 {
      color: $basic-dark-color;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
  }

  a {
  }
}


.effect {
  display: flex; //!!!uncomment this line !!!

  a {
    text-decoration: none !important;
    color: $basic-light-color;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    margin-right: 20px;
    font-size: $font-size;
    overflow: hidden;
    position: relative;

    i {
      position: relative;
      z-index: 3;
    }

    &.fb {
      background-color: $fb-color;
    }

    &.tw {
      background-color: $tw-color;
    }

    &.g-plus {
      background-color: $g-plus;
    }

    &.github {
      background-color: $github;
    }

    &.pinterest {
      background-color: $pinterest;
    }

    &.insta {
      background-color: $insta;
    }

    &.in {
      background-color: $in;
    }

    &.vimeo {
      background-color: $vimeo;
    }
  }
}

/* egeon effect */
.effect.egeon {
  a {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
  i {
      transition: transform 0.2s linear 0s;
    }
  &:hover {
      transform: rotate(-180deg);
      //border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      color: #fff;
      i {
        transform: rotate(180deg);
      }


    }
  }
}
